body {
    background-color: black;
}
p {
    font-family: Gruppo;
    color: white;
}

.box {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.container {
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    flex: 1;
    display: flex;
    max-width: 300px;
    height: 400px;
    background-image: url(image/Form.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(1.2);
    filter: contrast(1.2);
    filter: grayscale(-1.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.432);
}

.username , .pass , .full-name , .c-pass{
    color: white;
    background-color: rgba(214, 211, 211, 0.308);
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 16px;
    height: 24px;
    
}
.username:focus , .pass:focus , .full-name:focus  ,.c-pass:focus{
    margin: 0;
    outline: 0;
}
.username-div , .pass-div , .full-name-div , .c-pass-div{
    margin-bottom: 10px;
    width: fit-content;
}
.username::placeholder , .pass::placeholder , .full-name::placeholder , .c-pass::placeholder {
    color: white;
    font-family: Gruppo;
}
.logo-section {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 10px;
}
.logo-divA {
    width: 70px;
    margin-left: 5px;
}
.logoA {
    width: 100%;
    object-fit: cover;
    
}
.nameA {
   
    color: white;
    margin: 0;
    font-size: 35px;
    font-family: Gruppo  ;
    font-weight: 600;
}
.sloganA {
    font-family: Tenali Ramakrishna;
    color: rgba(189, 185, 185, 0.719);
    font-size: 18px;
    margin: 0;
 }
    .Hulu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .login-button , .registar-up-button {
        padding: 4px 10px 4px 10px;
        border-radius: 15px;
        border-style: solid;
        border-color: blue;
        border-width: 2px ;
        background-color: transparent;
        margin-top: 8px;
        font-size: 17px;
        font-family: Gruppo;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: background-color 0.15s , opacity 0.15s ;
    }
    .login-button:hover , .registar-up-button:hover {
        background-color: blue;
    } 
    .login-button:active , .registar-up-button:active {
        opacity: 0.8;
    }
    .warning::placeholder {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: rgb(255, 255, 255);
        font-family: Gruppo;
    }
    .cwarning::placeholder {
        color: rgb(255, 0, 0);
        font-weight: bold;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: rgb(255, 0, 0);
        font-family: Gruppo;
        font-size: 12px;
    }
    .r-n {
        color: rgb(0, 255, 0);
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 10px 0 ;
        
    }


