body {
    background-color: black;
    margin: 0;
   
}
p {
    color: white;
}
.body-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: url(./images/Esdeath.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 5px black;
    filter: brightness(1.3);
    filter: contrast(1.3);
    filter: grayscale(-4);
    filter: hue-rotate(3);
    filter: sepia(-4);
    filter: saturate(-6);

}
.main-div {
    display: flex;
}
.Profile {
    display: flex;
    height: 480px;
    width: 380px;
    border-style: solid;
    padding: 4px;
    border-radius: 5%;
    flex-direction: column;
    background-image: url(./images/Esdeath2.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 5px black;
    filter: brightness(1.3);
    filter: contrast(1.3);
    filter: grayscale(-4);
    filter: hue-rotate(3);
    filter: sepia(-4);
    filter: saturate(-6);
}
.Pic-div {
    position: relative;
   
} 
.Profile-Pic {
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    position: absolute;
    top: -30px;
    left: -45px;
    filter: brightness(1.3);
    filter: contrast(1.3);
    filter: grayscale(-4);
    filter: hue-rotate(3);
    filter: sepia(-4);
    filter: saturate(-6);
    z-index: 2;
}
.name-div , .age-div {
    background-color: transparent;
    height: fit-content;
    padding-left: 10px;
    margin-left: 120px;
    margin-top: 10px;
    width: 230px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(5, 5, 129, 0.863);
    box-shadow: 2px 2px 5px  rgba(5, 49, 131, 0.274);
}
.other-details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
}
.mail-div , .hobby-div , .whatsapp-div  , .address-div , .relationship-status-div{
    background-color: transparent;
    height: fit-content;
    border-radius: 10px;
    padding-left: 10px;
    width: 342px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(5, 5, 129, 0.863);
    box-shadow: 2px 2px 5px rgba(5, 49, 131, 0.274);
}
.Profile button {
    height: 20px;
    margin-right: 5px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
@media (min-width:600px) and (max-width:1000px) {
    .body-div {
        justify-content: end;
        align-items: end;
    }
    .Profile-Pic {
        width: 120px;
        top: -30px;
        left: -30px;
    }
    .Profile {
        width: 300px;
        height: 400px;
        right: 20px;
        position: relative;
        bottom: 10px;
        
    }
    .mail-div , .hobby-div , .whatsapp-div  , .address-div , .relationship-status-div {
        width: 270px ;
        
    }
    p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .name-div , .age-div  {
        width: 158px;
    }
}
@media (min-width:1001px) and (max-width:2000px) {
    .body-div {
        justify-content: end;
        align-items: end;
    }
    .Profile-Pic {
        width: 130px;
        top: -40px;
        left: -50px;
    }
    .Profile {
        width: 330px;
        height: 430px;
        right: 20px;
        position: relative;
        bottom: 5px;
        
    }
    .mail-div , .hobby-div , .whatsapp-div  , .address-div , .relationship-status-div {
        width: 300px ;
        
    }
    p {
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .name-div , .age-div  {
        width: 186px;
    }
}
